* {
    box-sizing: border-box;
    
}

header, footer {
    height: 200px;
    clear: both;
    border: 1px solid gray;
}

section {
    float: left;
    height: 200px;
    width: 33.33%;
    border: 1px solid gray;
}

